[webservers]
%{ for host in webservers ~}
${host.name} ansible_ip=${host.ip} ansible_host=${host.fqdn}
%{ endfor ~}

[databases]
%{ for host in databases ~}
${host.name} ansible_ip=${host.ip} ansible_host=${host.fqdn}
%{ endfor ~}

[storage]
%{ for host in storage ~}
${host.name} ansible_ip=${host.ip} ansible_host=${host.fqdn}
%{ endfor ~}